* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#0e73a6c7, whitesmoke);
}

li {
  list-style: none;
  margin: 0.7rem 0 0.7rem 1.5rem;
}

li a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.3rem 1rem;
}

li a:hover {
  color: white;
  text-decoration: underline;
}

/* begin van header */
.header-box {
  background-color: #85b6cf;
  border-bottom: 1px solid whitesmoke;
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

a.nav-link {
  color: black;
  border-radius: 19px;
  padding: 1rem 3rem;
}

.nav-li {
  transition: transform 0.2s;
}

.nav-li:hover {
  transform: scale(1.1);
}

.active {
  color: black !important;
  text-decoration: underline;
}

/* eind van header */

/*begin van main*/
.card-box {
  display: grid;
  place-items: center;
  margin: 2rem 0;
  padding: 1rem;
  gap: 1.5rem;
}

.card-box label {
  min-width: 70px;
  margin-right: 15px;
}

form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

form input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px 8px;
}

form select {
  border-radius: 5px;
  width: 100%;
  padding: 5px 8px;
}

.car_submit,
.car_random {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: aqua;
  color: white;
}

/* eind van main */

/* begin van footer*/
.footer-box {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 65% 4% 4% 7% 4%;
  justify-content: left;
  gap: 2rem;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100vw;
}

.footer-img {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin-top: 0.5rem;
}

.youtube-img {
  width: 70px;
  height: 30px;
  border-radius: 7px;
  margin-top: 0.5rem;
}

/* eind van footer */

@media screen and (max-width: 1600px) {
  .header-box {
    grid-template-columns: 250px 250px 250px 250px;
  }
}

@media screen and (max-width: 1150px) {
  .header-box {
    grid-template-columns: 200px 200px 200px 200px;
  }
}

@media screen and (max-width: 1000px) {
  .header-box {
    grid-template-columns: 160px 160px 160px 160px;
  }

  a.nav-link {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 960px) {
  .header-box {
    grid-template-columns: 280px 280px;
    padding: 0px 59%;
  }

  .footer-box {
    grid-template-columns: 55% 6% 6% 8% 6%;
  }
}

@media screen and (max-width: 650px) {
  .header-box {
    grid-template-columns: 280px;
  }

  .card-details {
    grid-template-columns: 90%;
    gap: 0rem;
  }

  nav ul {
    flex-direction: column;
  }

  .footer-box {
    grid-template-columns: 40% 8% 8% 9% 8%;
  }
}

@media screen and (max-width: 550px) {
  .footer-box {
    grid-template-columns: 70%;
    padding-left: 15%;
  }

  .footer-icons {
    display: none;
  }
}